* {
    margin: 0;
    padding: 0;
}

body {
    height: 99.7vh; /*makes body take up the whole vertical space*/
    border: 0px solid red; /*testing*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 0px solid red; /*testing*/
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 500px;
    height: 500px;
}

.square {
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box; /*important: size of the div includes the border & padding*/
}

.square-hover {
    background-color: black;
}